{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>

</head>
<body>

    <header class="wrapper">
        <h2>Wedding Shop List</h2>

        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                    </form>


                </li>
            </ul>
        </nav>
    </header>
    <div class = "wrapper">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>